/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/login/Login.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/* Login.css */

.glass-card {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(31, 41, 55, 0.7); /* Nowy kolor tła */
    border-radius: 16px;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Nowy kolor obramowania */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

