@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: #171717;
}

/* Carousel START */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6)); /* Adjust this value based on your item width and count */
  }
}

.animate-carousel {
  display: flex;
  gap: 1rem;
  animation: scroll 20s linear infinite; /* Adjust the time as needed */
}

.animate-carousel:hover {
  animation-play-state: paused; /* Optional: Pause animation on hover */
}
/* Carousel END */

.overflow-x-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 16px; /* Dodaje odstęp na wypadek paska przewijania */
  display: flex; /* Włączanie flexbox, aby zawartość nie łamała się w nowej linii */
}
/* Add this to your global styles, or adjust the class of the parent container */
